<h1>Flickr: User Image Search</h1>

<%= form_with url: root_path, method: :get do |f| %>
    <%= f.label :flickr_id, "Search Flickr ID: " %>
    <%= f.text_field :flickr_id %>
    <%= f.submit "Search" %>
<% end %>

<% if @error %>
    <p style="color:red;"><%= @error %></p>
<% end %>

<% if @author.present? %>
    <h3>Recent photos of <%= @photos.first.ownername %></h3>
<% else %>
    <h3>Random Recent Photos</h3>
<% end %>
<ul>
  <% @photos.each do |photo| %>
    <li>
       <%= image_tag Flickr.url_q(photo) %>
      <p><%= photo.title %></p>
      <p><%= photo.owner %></p>
    </li>
  <% end %>


</ul>